extends layout.pug

block content
	.container.commentContainer
		.row.articleRow
			.col-xs-1
				div.text-center.countDiv
					p.voteCount #{article.rating}
			.col-xs-2
				img.images(src=article.image)
			.col-xs-9
				h3: a(href=article.url) #{article.title}
		//- each comment in article.comment
			.row.comment
				.col-xs-12
					div.text-center
						p #{comment}
