extends layout.pug

block content
  .container.commentContainer
    .row.articleRow
      .col-xs-1
        div.text-center.countDiv
          p.voteCount #{article.rating}
      .col-xs-2
        img.images(src=article.image)
      .col-xs-9
        h3: a(href=article.url) #{article.title}
    if(article.comments)
      each comment in article.comments
        .row.commentRow
          .col-xs-2
            form(method='POST')
              button.text-center#upvote(type='submit' name='upvote' value=comment.id): span(class='glyphicon glyphicon-chevron-up')
              div.text-center.countDiv
                p.voteCount #{comment.vote} 
              button.text-center#downvote(type='submit' name='downvote' value=comment.id): span(class='glyphicon glyphicon-chevron-down')
          .col-xs-10
            div.commentDiv
              p #{comment.user} :
              p #{comment.text}
              span.timestamp #{comment.id}

    .row.newCommentRow
      .col-xs-12
        h1.text-center.stitched Post New Comment
        form(method='POST')
            .form-group
                label.contactForm(for='comments') Comments
                textarea.form-control#textArea(rows='5' name='comments')
            button.btn.btn-success.btn-lg(type="submit" name='submitButton' value='clicked') Submit
