extends layout.pug

block content
	.container
		each article in data
			.row.articleRow
				.col-xs-1
					form(method='POST')
						button.text-center#upvote(type='submit' name='upvote' value=article._id): span(class='glyphicon glyphicon-chevron-up')
						div.text-center.countDiv
							p.voteCount #{article.rating}
						button.text-center#downvote(type='submit' name='downvote' value=article._id): span(class='glyphicon glyphicon-chevron-down')
				.col-xs-2
					img.images(src=article.image)
				.col-xs-9
					h3: a(href=article.url) #{article.title}
					a(href='/comments/'+article._id) Comments
